# General
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
dist/
build/
.npm/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.pytest_cache/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
